<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.mendelu.xmarik.train_manager">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.ServerSelect"
            android:label="@string/activity_server_select_title"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TrainHandler"
            android:launchMode="singleInstance"
            android:label="@string/activity_train_handler_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.AckTrains"
            android:launchMode="singleInstance"
            android:label="@string/activity_ack_trains_title"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activities.TrainRequest"
            android:screenOrientation="locked"
            android:launchMode="singleInstance"
            android:label="@string/activity_train_request_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activities.ServerConnector"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activities.NewServer"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name=".activities.About"
            android:launchMode="singleInstance"
            android:label="@string/activity_about_title"
            android:theme="@style/AppTheme.NoActionBar"
            />

    </application>

</manifest>